<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>日历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6622D8641E56DD030075F4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6622D87D1E56DD030075F4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6622D8881E56DD030075F4BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
